/* REQUIRED: Tailwind directives first */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html, body {
  background: var(--background);
  color: var(--foreground);
  margin: 0; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


